In [1]:
# Import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Import data & clean
# From: https://databank.worldbank.org/source/food-prices-for-nutrition
path2file = './Raw Data/Healthy Diet and Populations/'
fn = 'cost of healthy diet.csv'
colHeads = ["Classification Name", "Classification Code", "Series Name", "Series Code", "Country Name", "Country Code", "2017", "2018", "2019", "2020", "2021"]
DF = pd.read_csv(path2file+fn, skiprows=1, names=colHeads, encoding='ISO-8859-1') 

Diet = DF.drop(columns=["Classification Name", "Classification Code"])
Diet2 = Diet.drop([372, 373, 374, 375, 376, 377, 378, 379])
DFDiet = pd.DataFrame(Diet2)
DFDiet

,Series Name,Series Code,Country Name,Country Code,2017,2018,2019,2020,2021
0,Cost of a healthy diet,CoHD,Albania,ALB,3.952,4.069,4.262,4.28,4.388
1,Cost of a healthy diet,CoHD,Algeria,DZA,3.763,3.822,3.796,3.76,4.043
2,Cost of a healthy diet,CoHD,Angola,AGO,4.327,4.293,4.352,4.585,5.031
3,Cost of a healthy diet,CoHD,Anguilla,AIA,3.717,..,..,..,..
4,Cost of a healthy diet,CoHD,Antigua and Barbuda,ATG,4.112,4.302,4.391,4.504,4.684
...,...,...,...,...,...,...,...,...,...
367,Population,Pop,Vietnam,VNM,94033048,94914330,95776716,96648685,97468029
368,Population,Pop,West Bank and Gaza,PSE,4454805,4569087,4685306,4803269,4922749
369,Population,Pop,WORLD,WLD,7262507298,7304447092,7381667234,7455652461,7518895609
370,Population,Pop,Zambia,ZMB,17298054,17835893,18380477,18927715,19473125
371,Population,Pop,Zimbabwe,ZWE,14751101,..,..,..,..